/*Theme to reflect use for Gig Finance*/

:root {
  --vff-bg-color: #fbe6da;
  --vff-main-text-color: rgb(56, 55, 55);
  --vff-secondary-text-color: rgb(56, 55, 55);
  --vff-tertiary-text-color: #52b789;
  --vff-main-accent-color: #111;
  --vff-secondary-accent-color: #ecf80d;
}

.vff,
.vff textarea,
.vff input,
.vff select,
.vff select option,
.vff kbd,
.vff-header,
.vff-footer {
  font-family: "Poppins", sans-serif;
}

body {
  /*override if needed when using not-standalone option*/
  margin: 0;
  background-color: var(--vff-bg-color);
}

.vff {
  color: var(--vff-main-text-color);
}

.vff-checkbox .custom-control-label:after {
  /* padding: 10px; */
  background: no-repeat 50%/50% 50% var(--vff-bg-color);
  border: 1px solid black;
}

.vff-checkbox .custom-control-label{
  width: 300px;
  font-size: 16px;

}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='black' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.custom-control-input:focus {
    -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px black;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px black !important;
}

.vff.vff-not-standalone {
  background-color: var(--vff-bg-color);
  color: var(--vff-main-text-color);
}

/*header*/
header.vff-header {
  background-color: white;
  color: black;
}

header.vff-header svg.f-logo {
  fill: var(--vff-main-accent-color);
}

/* footer */
.vff-footer .footer-inner-wrap {
  background-color: rgba(62, 175, 124, 0.75);
}

.vff textarea,
.vff input,
.vff select option {
  color: var(--vff-main-accent-color);
}

.vff input[type="text"],
.vff input[type="number"],
.vff input[type="tel"],
.vff input[type="email"],
.vff input[type="url"],
.vff input[type="password"],
.vff textarea,
.vff span.faux-form {
  border-bottom-color: var(--vff-secondary-text-color);
}

.vff a,
.vff a:active {
  color: var(--vff-main-text-color);
}

/*placeholder*/
.vff ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--vff-secondary-text-color);
  opacity: 1;
  font-weight: 300;
}

.vff ::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--vff-secondary-text-color);
  opacity: 1;
  font-weight: 300;
}

.vff :-ms-input-placeholder {
  /* IE 10+ */
  color: var(--vff-secondary-text-color) !important;
  opacity: 1 !important;
  font-weight: 300 !important;
}

.vff :-moz-placeholder {
  /* Firefox 18- */
  color: #999;
  opacity: 1;
  font-weight: 300;
}

/*field-multiplechoicetype*/
.vff ul.f-radios li {
  border: 1px solid var(--vff-secondary-text-color);
  font-weight: 900;
  color: var(--vff-secondary-text-color);
}

.vff ul.f-radios li.f-other.f-selected input {
  color: inherit;
}

.vff ul.f-radios li.f-selected,
.vff ul.f-radios li:active {
  border-color: var(--vff-main-text-color);
  color: var(--vff-main-text-color);
  background-color: var(--vff-tertiary-text-color);
}

.vff .f-key {
  color: var(--vff-secondary-accent-color);
  font-weight: 300;
}

/*field-dropdowntype*/
.vff span.f-empty {
  color: var(--vff-secondary-text-color);
}

.vff span.f-answered {
  color: var(--vff-main-text-color);
}

.vff .f-arrow-down svg {
  fill: var(--vff-main-text-color);
}

/*buttons*/
.vff .o-btn-action {
  color: white;
  /* color: var(--vff-bg-color);
  background-color: var(--vff-main-text-color); */
}

.o-btn-action:hover,
.o-btn-action:focus {
  color: black;
  /* color: var(--vff-main-text-color); */
  /* opacity: 0.9; */
}

/* progress bar */
.vff-footer .f-prev svg,
.vff-footer .f-next svg {
  fill: var(--vff-main-text-color);
}

.vff-footer .f-progress {
  color: var(--vff-secondary-text-color);
}

.vff-footer .f-progress-bar {
  background-color: var(--vff-secondary-text-color);
}

.vff-footer .f-progress-bar-inner {
  background-color: var(--vff-main-text-color);
}

.vff-footer .f-prev:hover,
.vff-footer .f-next:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

/*text-muted*/
.vff span.f-tagline,
.vff span.f-sub,
.vff p.f-description,
.vff .text-muted {
  color: var(--vff-secondary-text-color);
}

.vff .text-alert,
.vff .f-invalid {
  color: red;
}

.vff p.text-success {
  color: #ecf80d;
}

@media screen and (max-width: 479px), (max-height: 420px) {
  .vff-footer .footer-inner-wrap {
    background-color: rgba(55, 158, 112, 0.7);
  }
}

/*
  dark mode styles
*/

@media (prefers-color-scheme: dark) {
  :root {
    --vff-bg-color: #313640;
    --vff-main-text-color: #fff;
    --vff-secondary-text-color: #aeb6bf;
    --vff-tertiary-text-color: #41464f;
    --vff-main-accent-color: #41b883;
    --vff-secondary-accent-color: #a0dbc1;
  }

  .vff textarea,
  .vff input,
  .vff select option {
    color: var(--vff-main-accent-color);
  }

  .vff span.f-answered {
    color: var(--vff-main-accent-color);
  }

  .vff .f-arrow-down svg {
    fill: var(--vff-main-accent-color);
  }

  .vff .text-success {
    color: var(--vff-main-accent-color);
  }

  /*footer*/
  .vff-footer .footer-inner-wrap {
    background-color: var(--vff-bg-color);
  }

  .vff-footer .f-prev svg,
  .vff-footer .f-next svg {
    fill: var(--vff-main-accent-color);
  }

  .vff-footer .f-prev.f-disabled svg,
  .vff-footer .f-next.f-disabled svg {
    fill: var(--vff-main-text-color);
  }

  .vff-footer .footer-inner-wrap {
    background-color: rgba(49, 54, 64, 0.75);
  }

  .vff-footer .f-prev:hover,
  .vff-footer .f-next:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .vff-footer .f-progress-bar {
    background-color: var(--vff-secondary-text-color);
    filter: brightness(1);
  }

  .vff-footer .f-progress-bar-inner {
    background-color: var(--vff-main-accent-color);
  }

  /*field-multiplechoicetype*/

  .vff ul.f-radios li {
    color: var(--vff-secondary-text-color);
  }

  .vff .f-key {
    color: var(--vff-main-accent-color);
    font-weight: 300;
  }
}
