/* ==========================================================================

// Base Animations - http://getbase.org
// Author: Matthew Hartman - http://www.matthewhartman.com.au/
// Version: 4.1.2 - Last Updated: December 11, 2018

========================================================================== */
.animate {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -12px, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fade-in-down {
  animation-name: fadeInDown;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-12px, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fade-in-left {
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(12px, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fade-in-right {
  animation-name: fadeInRight;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 12px, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fade-in-up {
  animation-name: fadeInUp;
}