body,
textarea,
input,
select,
.vertical-form select option {
  font-family: 'Poppins', sans-serif;
}

body {
  color: #18181A;
  background-color: #fff;
}

header{
  background-color: #BBEBD5;
}

header svg.logo{
  fill: rgba(0,0,0,0.9);
}

.vertical-form input[type=text],
.vertical-form input[type=number],
.vertical-form input[type=tel],
.vertical-form input[type=email],
.vertical-form input[type=url],
.vertical-form textarea,
.vertical-form span.faux-form {
  border-bottom-color: #999;
}

.vertical-form input,
.vertical-form select option {
  color: #18181A;
}

a,
a:active  {
  color: #18181A;
}

.f-arrow-down svg {
  fill: #18181A;
}

ul.f-radios li {
  color: #18181A;
  border: 1px solid #999;
}

ul.f-radios li.f-selected,
ul.f-radios li:active {
  border-color: #18181A;
  background-color: #18181A;
  color: #fff;
}

ul.f-radios li.f-other.f-selected input {
  color: #fff;
}

.o-btn-action {
  background-color: #18181A;
  border-radius: 0;
  text-transform: lowercase;
}

.o-btn-action:hover,
.o-btn-action:focus {
  background-color: #18181A;
  opacity: .9;
}

.f-progress-bar-inner {
  background-color: #18181A;
}

.f-required {
  /*display: none;*/
}

.text-alert,
.f-invalid{
  color: #F44336;
}

.text-success{
  color: #4CAF50;
}

span.f-empty {
  color: #999;
}

span.f-answered{
  color: #18181A;
}

.f-key,
span.f-title,
span.f-sub,
p.description {
  color: #999;
}