li,
p,
ul {
  font-size: 1.1rem;
  line-height: 1.34;
}

h1,
.fh1 {
  font-weight: 900;
  font-size: 3.6vw;
  margin-top: 0;
  margin-bottom: 0;
}

h2,
.fh2 {
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 1.34;
  padding-right: 4rem;
  margin-bottom: 20px;
}

h3,
.fh3 {
  font-weight: 300;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.fh1,
.fh2,
.fh3{
  display: block;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
  opacity: 1;
  font-weight: 300;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #999;
  opacity: 1;
  font-weight: 300;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #999;
  opacity: 1;
  font-weight: 300;
}

:-moz-placeholder { /* Firefox 18- */
  color: #999;
  opacity: 1;
  font-weight: 300;
}

@media screen and (max-width:767px) {

  h2,
  .fh2 {
    font-size: 2.2rem;
    padding-right: 0;
  }

}

@media screen and (max-width:479px), (max-height:400px) {

  h2,
  .fh2 {
    font-size: 1.6em;
  }

}